* {
  font-family: "Work Sans", sans-serif;
}

html {
  margin: 0 auto;
}
/* All module */
.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Img form*/

.containerImg {
  width: 100%;
}
.imgPrimary {
  width: 100%;
  object-fit: contain;
}

/*Form*/
.containerForm {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 90%;
  height: 640px;
  padding: 18px;
  border: 1px solid rgba(104, 104, 104, 1);
  border-radius: 6px;
}

form {
  padding-top: 22px;
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px 0;
  border-radius: 22px;
  border: 1px solid rgba(104, 104, 104, 1);
  padding: 0 10px;
  height: 44px;
  width: 100%;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

.restaurantLink {
  font-size: 13px;
  font-weight: 400;
  padding: 0 5px;
  color: rgba(104, 104, 104, 1);
}

.createAcc {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 500;
  margin: 0 auto;
}

.register {
  font-size: 13px;
  font-weight: 400;
}

.registerLink {
  font-size: 13px;
  padding: 0 5px;
  color: rgba(104, 104, 104, 1);
  text-decoration: underline;
}

.confirmBtn {
  margin: 22px 0;
  height: 44px;
  background-color: rgba(104, 104, 104, 1);
  color: rgba(179, 179, 179, 1);
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  border: none;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 13px;
  color: rgba(104, 104, 104, 1);
  margin-bottom: 20px;
  align-items: center;
}
hr{
  width: 30%;
}

/* icons Link*/
.containerLiniks {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 62px;
}
.forgotPass {
  display: flex;
  justify-content: center;
}

.iconSocial {
  width: 30px;
}
