.title {
  padding: 0 10px;
  color: aliceblue;
}
.containerForm {
  width: 300px;
  height: 300px;
  padding: 10px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 150px auto;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.containerLiniks {
  display: flex;
  flex-direction: row;
  padding: 5px 30px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f8f8f8 ;
}
.registerBtn{
  display: flex;
  justify-content: center;
}
.forgotLink{
  font-size: medium;
}
.registerLink, .restaurantLink{
  font-size: 14px;
  padding: 0 12px;
}

form {
  margin: 10px 10px 0;
  display: flex;
  flex-direction: column;
}
label {
  color: aliceblue;
  font-size: large;
}

input {
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  height: 25px;
  padding: 0 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
